@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/*Scrollbar*/

body {
  background-color: #f4f1f1;
  min-height: 10vh;
}

body::-webkit-scrollbar {
  width: 0.5vw;               
}

body::-webkit-scrollbar-track {
  background: #d3d3d3;       
}

body::-webkit-scrollbar-thumb {
  background-color: #808080;    
  border-radius: 20px;      
}

/*Menu*/

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 6vw;
  background-color: #AFCDEA;
}

.cabecalho-logo {
  height: 12vw;
}

.cabecalho-menu-icone {
  height: 2.2vw;
}

#divBusca{
  background-color:#f4f1f1;
  border-radius: 2vw;
  width: 20vw;
}

#txtBusca{
  background-color: transparent;
  padding-left: 1vw;
  font-family: 'Nunito', sans-serif;
  font-size: 1vw;
  border: none;
  height: 2.5vw;
  width: 20vw;
}

.dropbtn {
  background-color: #AFCDEA;
  height: 6vw;
  padding: 16px;
  font-family: 'Nunito', sans-serif;
  font-size: 1.7vw;
  color: #f4f1f1;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #AFCDEA;
  width: 15vw;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  font-family: 'Nunito', sans-serif;
  font-size: 1.4vw;
  color: #f4f1f1;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #a2cffc}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #a2cffc;
}
  
.dropdown:hover .dropbtn {
    background-color: #a2cffc;
}

.conteudo {
  margin-bottom: 5vw;
}

.imagem-cidade {
  width: 100%;
}

.texto-cidade {
    font-family: 'Nunito', sans-serif;
    font-size: 1.2vw;
    text-align: justify;
    margin: 1vw 2vw 0vw 2vw;
}

/*Pontos Turísticos*/

.conteudo-pontos-turisticos-titulo {
  font-family: 'Nunito', sans-serif;
  font-size: 1.8vw;
  margin: 3vw 0vw 0vw 5vw;
}

.conteudo-pontos-turisticos {
  margin: 1vw 0vw 0vw 7vw;
}

.conteudo-pontos-turisticos1-imagem {
  height: 16vw;
  border-radius: 0.5vw;
  margin-right: 1vw;
}

.conteudo-pontos-turisticos1-nome {
  font-family: 'Nunito', sans-serif;
  font-size: 1.8vw;
  text-align: justify;
}

.conteudo-pontos-turisticos1-texto {
  font-family: 'Nunito', sans-serif;
  font-size: 1.1vw;
  text-align: justify;
  margin-right: 3vw;
  margin-left: 0.5vw;
}

.conteudo-pontos-turisticos2-imagem {
  height: 16vw;
  border-radius: 0.5vw;
  margin-right: 1vw;
}

.conteudo-pontos-turisticos2-nome {
  font-family: 'Nunito', sans-serif;
  font-size: 1.8vw;
  text-align: justify;
}

.conteudo-pontos-turisticos2-texto {
  font-family: 'Nunito', sans-serif;
  font-size: 1.1vw;
  text-align: justify;
  margin-right: 3vw;
  margin-left: 0.5vw;
}

.conteudo-informacoes-pacotes-incluso-titulo {
  font-family: 'Nunito', sans-serif;
  font-size: 1.8vw;
  margin: 3vw 0vw 0vw 5vw;
}

.teste {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.conteudo-informacoes-pacotes-incluso-icone {
  height: 3vw;
  margin-left: 6vw;
}

.conteudo-informacoes-pacotes-incluso-nome {
  font-family: 'Nunito', sans-serif;
  font-size: 1.2vw;
  margin-left: 0.5vw;
}

.conteudo-informacoes-pacotes-comprar-quadrado {
  width: 15vw;
  height: 8vw;
  background-color: transparent;
  border: 0.5px solid #808080;
  border-radius: 0.8vw;
}

.conteudo-informacoes-pacotes-comprar-quadrado-frase {
  font-family: 'Nunito', sans-serif;
  font-size: 0.8vw;
  margin-left: 0.5vw;
}

.conteudo-informacoes-pacotes-comprar-quadrado-preco {
  font-family: 'Nunito', sans-serif;
  font-size: 1.5vw;
  margin-top: 1vw;
  margin-right: 0.9vw;
  float: right;
}

.conteudo-informacoes-pacotes-comprar-botao {
  text-align: center;
}

button {
  width: 13vw;
  height: 2vw;
  background-color: #AFCDEA;
  border: none;
  border-radius: 0.5vw;
  
}

button:hover {
  background-color: #FEC517;
}

.conteudo-informacoes-pacotes-comprar-botao-texto {
  color: #f4f1f1;
  font-family: 'Nunito', sans-serif;
  font-size: 1.1vw;
}

.conteudo-informacoes-pacotes-textos {
  font-family: 'Nunito', sans-serif;
  font-size: 1.2vw;
  text-align: justify;
  margin-top: 1vw;
  margin: 1vw 8vw 2vw 7vw;
}

.conteudo-informacoes-pacotes-entreterimento-titulo {
  font-family: 'Nunito', sans-serif;
  font-size: 1.8vw;
  margin: 1vw 0vw 1vw 5vw;
}

/*Dropdown Pôsters*/

.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content-poster {
    display: none;
    position: absolute;
    background-color: #f4f1f1;
    min-width: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown:hover .dropdown-content-poster {
    display: block;
}
  
.desc {
    padding: 15px;
    text-align: justify;
}

.conteudo-informacoes-pacotes-entreterimento-imagem {
  margin: 0vw 0vw 1vw 8vw;
}

/*Rodapé*/

.cor {
  background-color: #AFCDEA;
  color: white;
}

.alinha {
  text-align: center;
}

.cor2 {
  background-color: #FEC517;
  height: 2vw;
  align-items: center;
}

.last {
  padding-top: 5px;
  padding-bottom: 5px;
}

.titulo {
  font-family: 'Nunito', sans-serif;
  font-size: 1.1vw;
  color: #f4f1f1;
  padding-bottom: 0.5vw;
}

.rodape-icone {
  height: 2vw;
}

.texto {
  font-size: 0.8vw;
  font-family: 'Nunito', sans-serif;
  color: #f4f1f1;
}

.container-fluid {
  font-size: 0.8vw;
  font-family: 'Nunito', sans-serif;
  color: #f4f1f1;
  padding-top: 0.5vw;
}